<div class="container mt-4 position-relative">
<% @tweets.each do |tweet| %>
  <div class="row no-gutters border border-dark bg-light bg-gradient mt-4">
    <div class="col-6">
      <%= attachment_image_tag tweet, :image, fallback: "no_image_icon.jpg", class:"tweet-image" %>
    </div>
      <div class="col-6 pr-3 mt-3 position-relative">
        <% if user_signed_in? %>
        <!--link_toの中に遷移先の画面のturbolinkを切る記述を追加することでjavascriptをちゃんと動作するようにした-->
          <h3 class="card-title text-center"><%= link_to tweet.title, tweet_path(tweet.id), data: {"turbolinks"=>false} %></h3>
        <% else %>
         <h3 class="text-center"><%= tweet.title %></h3>
        <% end %>
        <div class="pb-5">
          <h4 class="text-start text-break"><%= tweet.description %></h4>
        </div>
        <div class="row d-flex flex-column">
          <p>
            タグ:
            <% tweet.tag_list.each do |tweet_tag| %>
             <%= link_to tweet_tag, tweets_path(tag_name: tweet_tag) %>
            <% end %>
          </p>
            <%= attachment_image_tag tweet.user, :profile_image, size:"60x60", fallback: "no_image_icon.jpg", class:"rounded-circle" %>
          <!--last_nameとfirst_nameを足して表示することでフルネームとして表示-->
          <% if user_signed_in? %>
          <p>
            <%= link_to tweet.user.last_name + tweet.user.first_name, user_path(tweet.user.id) %>
          </p>
          <% else %>
            <%= tweet.user.last_name + tweet.user.first_name %>
          <% end %>
          <div id="favorite-btn-<%= tweet.id %>">
            <%= render "favorites/favorite", tweet: tweet %>
          </div>
        </div>
      </div>
  </div>
<%end%>