<div class="container">
   <h1>新規投稿</h1>
<%= form_with model:@tweet, local:true do |f| %>
　<div class="form-group">
    <%= f.label :image, "画像" %>
    <%= f.attachment_field :image, class:"form-control-file" %>
  </div>
 <div class="form-group">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
 </div>
 <div class="form-group">
    <%= f.label :description, "おすすめポイント・見どころ" %><br>
    <%= f.text_area :description %>
 </div>
 <div class="form-group">
    <%= f.label :tag_list, "タグ" %> ※カンマで区切ると複数のタグを登録できます<br>
    <%= f.text_field :tag_list, value: @tweet.tag_list.join(','), class: "form_control" %>
 </div>
  <%= f.submit '投稿' %>
<% end %>

</div>