<div class="container mt-2 jumbotron position-relative">
  <div class="row">
    <div class="col-md-1 mt-1">
      <%= attachment_image_tag @tweet.user, :profile_image, size:"60x60", fallback: "no_image_icon.jpg", class:"rounded-circle" %>
    </div>
    <div class="col-11 mt-3 ">
      <%= link_to @tweet.user.last_name + @tweet.user.first_name, user_path(@tweet.user.id) %>
      <div class="d-flex justify-content-between">
        <div>
          <% if current_user != @tweet.user %>
            <% if current_user.following?(@tweet.user) %>
             <%= link_to "フォロー外す", user_relationships_path(@tweet.user.id), method: :delete, class: "btn btn-primary" %>
            <% else %>
             <%= link_to "フォローする", user_relationships_path(@tweet.user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
        <div id="favorite-btn-<%= @tweet.id %>">
          <%= render "favorites/favorite", tweet: @tweet %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= attachment_image_tag @tweet, :image, fallback: "no_image_icon.jpg", class:"card-img-top" %>
    </div>
    <div class="col">
      <div>
        <h6>タイトル</h6>
      </div>
      <div>
        <h4><%= @tweet.title %></h4>
      </div>
      <div>
        <h6>見どころ・ポイント</h6>
      </div>
      <h4><%= @tweet.description %></h4><br>
        <% if 0 > @tweet.score %>
        <p>
          <span class="sentiment-score text-info">悲しかったね<%= @tweet.score %></span>
        </p>
        <% else %>
        <p>
          <span class="sentiment-score text-success">良かったね<%= @tweet.score %></span>
        </p>
        <% end %>
      <!-- モーダルエリアここから -->
      <div class="col">
        <button id="openModal">コメント</button>
      </div>
      <section id="modalArea" class="modalArea">
         <div id="modalBg" class="modalBg"></div>
          <div class="modalWrapper">
            <div class="col">
              <%= form_with(model:[@tweet, @tweet_comment], local: true) do |f| %>
                <div id="stars">
                 <label>評価</label>
                </div>
               <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
               <%= f.submit "コメントする" %>
              <% end %>
              <!--raty(評価機能)のjsはここに記載する-->
              <script>
                $('#stars').raty({
                 starOn: "<%= asset_path('star-on.png') %>",
                 starOff: "<%= asset_path('star-off.png') %>",
                 starHalf: "<%= asset_path('star-half.png') %>",
                 scoreName: 'tweet_comment[rate]' //登録するモデル名とカラム名を記述
                });
              </script>
            </div>
            <div id="closeModal" class="closeModal">
             ×
            </div>
          </div>
        </section>
      <!-- モーダルエリアここまで -->
      <div id="comment-<%= @tweet.id %>" class="mt-2">
        コメント件数：<%= @tweet.tweet_comments.count %>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="tweet-comment-<%= @tweet.id %>"  class="col">
      <%= render "tweet_comments/index", tweet_comments: @tweet.tweet_comments %>
    </div>
  </div>
</div>