<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 pt-10">
      <h2>会員情報編集</h2>
      <%= form_with model:@user, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="field">
          <label class="user_image">プロフィール画像</label>
          <%= f.attachment_field :profile_image, class:"form-control-file" %>
        </div>
        <div class="field">
         <%= f.label "名前" %><br />
         <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "(姓)" %>
         <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "(名)" %>
        </div>
        <div class="field">
         <%= f.label "生年月日" %><br />
         <%= f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989,1,1) %>
        </div>
        <div class="field">
          <%= f.label :introduction %><br />
          <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", size: "100x5" , placeholder: "自己紹介" %>
        </div>
        <div class="pt-2">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>